body {
    height: 100%;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
}

a {
    color: #00B7FF;
}

h1 {
    font-size: 48px;
}
h1,h2,h3,h4,h5 {
    margin: 10px;
}
input, button {
    margin: 5px;
}
.wrapper {
    position: absolute;
    left: 40%;
    margin-top: 3em;
    width: 400px;
    z-index: 1;
}

input[type=text] {
    font-size: 16px;
    background-color: transparent;
    padding: .4em 0;
    margin-right: 20px;
    width: 100%;
    display: block;
}

video{
    width: 640px;
    height: 360px;
    object-fit: cover;
    background: #222222;
}

/* chatting */

.chat {
    position: absolute;
    top: 20%;
    width: 300px;
    height: 300px;
    z-index: 999;
    overflow: hidden;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.chat-title {
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

/*--------------------
Messages
--------------------*/
.messages {
    flex: 1 1 auto;
    position: relative;
    width: 100%;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.messages .messages-content {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: scroll;
}

.messages .message {
    clear: both;
    float: left;
    padding: 6px 10px 7px;
    border-radius: 10px 10px 10px 0;
    background: #ffffff;
    margin: 8px 0;
    font-size: 11px;
    line-height: 1.4;
    margin-left: 15px;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.message.message-personal {
    float: right;
    text-align: right;
    background: -webkit-linear-gradient(330deg, #248A52, #257287);
    background: linear-gradient(120deg, #248A52, #257287);
    border-radius: 10px 10px 0 10px;
    margin-right: 15px;
}

.message-box {
    clear: both;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.message-input {
    background: none;
    border: none;
    outline: none !important;
    font-size: 15px;
    height: 17px;
    margin: 0;
    padding-right: 20px;
    width: 260px;
}

.message-submit {
    position: absolute;
    z-index: 1;
    top: 9px;
    right: 25px;
    border: none;
    background: #248A52;
    font-size: 10px;
    text-transform: uppercase;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 10px;
    outline: none !important;
    transition: background .2s ease;
    margin: 0;
}

.message-submit:hover {
    background: #1D7745;
}

#video-wrapper {
    display: none;
    border-radius: 10px;
}

#video-wrapper.disconnect {

}

#video-wrapper.connected{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    position: relative;
    width: 100%;
    background: transparent;
    border-radius: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
#container video {
    width: 640px;
    height: 360px;
    object-fit: cover;
    background: #222222;
}
#container.connected {
    width: 1280px;
    margin: 0 auto;
}

#remote {
    width: 1280px;
    margin: 0 auto;
    /*  -webkit-transform:rotateY(180deg);
      -moz-transform:rotateY(180deg);
      transform: rotateY(180deg);*/
}
#remote.connected {

}
.chat {
}

.chat.show {
    display: block;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.btn-group {
    background: transparent;
}
.btn-group.connected{
    position: fixed;
    top: 20%;
    width: 150px;
    background: transparent;
    z-index: 30;
}
.signal-wrap {
    position: absolute;
    top: 30%;
    left: 50%;
    color: #ffffff;
    z-index: 9999;
}
.fileUpload{
    position:relative;
    left:255px;
}
#groupBtnWrapper {
    border: 1px dotted #2f2f2f;
}
progress{
    width: 65px;
    height: 5px;
}

#receiveFrom:hover,
#receiveGroupFrom:hover{
    background:#fff;
}
#receiveFrom,
#receiveGroupFrom{
    border-radius: 125px;
    width: 160px;
    height: 160px;
    transform: translateX(10px);
}
